<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.urimaiadi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_directions_run"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_directions_run"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashscreen" android:theme="@style/splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".educationalActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".railwayActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".medicalActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".politicsActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".TrafficActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>